---
import Layout from "../layouts/Layout.astro";
import Showcase from "../components/Showcase.astro";
import Features from "../components/Features.astro";
---

<Layout title='homepage'>
  <Showcase showExtra={true}/>
  <Features/>
    <h1>hi mom</h1>
</Layout>

<style>
</style>
